<!-- src/app/shared/components/banner.component.html -->
<div *ngIf="showBanner && isVisible" class="bg-[#1B2E40] text-[#FFFFFF] p-4 fixed top-0 left-0 w-full z-50 transition-transform transform duration-300">
    <div class="container mx-auto flex justify-between items-center">
      <p class="text-sm">
        We are hiring! Join iDeparture and help shape the future of urban mobility
      </p>
      <a href="#" class="text-[#F5B753] hover:underline text-sm ml-4">View Our Open Positions</a>
    </div>
  </div>
  